main {
  padding-top: 7vw;
  background-color: var(--color-5);
  font-family: var(--font-1);
}

#breadcrumbs {
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 5vw;
}
#back {
  text-decoration: none;
  color: #9cc3df;
  margin-left: 10px;
}

#back:hover {
  text-decoration: underline;
}

#arrow {
  width: 0.5vw;
}

/* CART */

#cart,
#billing {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  width: 100vw;
  align-items: center;
  color: black;
  font-family: var(--font-1);
  font-size: 1.2rem;
}

#cart h1 {
  font-weight: 400;
  opacity: 80%;
  letter-spacing: 0.1vw;
  font-size: 1.2rem;
}

#row1,
#row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;
}

#row1 {
  margin-left: 3vw;
}

#row1 p {
  padding: 0vw 4vw;
}

.producttitle {
  margin-right: 12vw;
}

#row2 {
  text-transform: capitalize;
  font-size: 1.2rem;
  align-items: center;
  width: 70vw;
  justify-content: space-around;
  margin-bottom: 1vw;
}

#row2 img {
  width: 11vw;
}

#row2 button {
  border: none;
  background-color: var(--color-5);
}

#row2 input {
  width: 30px;
  border: none;
}

.bagname {
  margin-left: -10vw;
}

.quantity {
  margin-left: -5vw;
}

#cartsum {
  display: flex;
  margin-left: 73vw;
  margin-top: 5vw;
  width: 15vw;
  flex-direction: column;
  font-size: 1.2rem;
  padding-bottom: 10vw;
}

.cartsum-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
}

.cartsum-flex h3 {
  margin: 0;
  font-size: 1.2rem;
  padding-right: 2vw;
  letter-spacing: 0.05vw;
}

.cartsum-flex p {
  margin: 0px;
}

#cartsum button {
  background-color: #000;
  opacity: 0.7;
  border: none;
  border-radius: 20px;
  padding: 0.5vw 1vw;
  margin-top: 2vw;
  width: 100px;
  color: #fff;
  letter-spacing: 0.05vw;
  font-weight: 300;
}

#cartsum button:hover {
  background-color: var(--color-4);
}

.checkboxflex {
  margin-top: 1vw;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxflex input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid var(--color-4);
}

.checkboxflex:hover input ~ .checkmark {
  background-color: var(--color-4);
}

.checkboxflex input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxflex input:checked ~ .checkmark:after {
  display: block;
}

.checkboxflex .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.salecode input {
  width: 60%;
  margin-left: 25px;
}

#codeflex {
  margin-top: 1vw;
  display: flex;
  font-size: 1.1rem;
  width: 15vw;
  flex-direction: column;
}

/* lines */

hr {
  opacity: 0.7;
  width: 80vw;
  height: 1px;
  background-color: var(--color-1);
  border: 1px var(--color-1);
}

/* BILLING */

#billing h2 {
  font-weight: 400;
  opacity: 80%;
  letter-spacing: 0.1vw;
  font-size: 1.2rem;
  margin-bottom: 2vw;
}

.payment-flex h4 {
  font-weight: 400;
  opacity: 80%;
  letter-spacing: 0.1vw;
  font-size: 1.2rem;
  margin-bottom: 2vw;
  margin-left: 4vw;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vw;
}

.left-side {
  display: flex;
  flex-direction: column;
  margin-left: -15vw;
}

.right-side {
  display: flex;
  flex-direction: column;
}

#payment {
  display: flex;
  flex-direction: row;
  margin-top: 3vw;
  width: 100vw;
  align-items: center;
  color: black;
  font-family: var(--font-1);
  font-size: 1.2rem;
  width: 70%;
  margin-left: 20vw;
}

.container-shipping {
  display: flex;
  padding: 0vw 2vw;
}

.ship-left {
  display: flex;
  flex-direction: column;
  padding: 0vw 2vw;
}

.ship-middle {
  display: flex;
  flex-direction: column;
  padding: 0vw 2vw;
}

.ship-middle h5 {
  margin-top: 1vw;
}

.ship-middle p {
  margin-top: -20px;
}

.post2 {
  margin-top: -5px;
}

.ship-right {
  display: flex;
  flex-direction: column;
  padding: 0vw 2vw;
}

.ship-right p {
  padding: 0.3vw 1vw;
}

.box {
  padding: 1.5vw 0vw;
}

.vertical-line {
  border-left: 1px solid var(--color-1);
  height: 200px;
  left: 50%;
  margin-left: -3px;
  top: 0;
  padding-right: 30px;
}

.flex-pay {
  display: flex;
  flex-direction: row;
}

.flex-pay div {
  padding: 0vw 2vw;
}

.pay-logo {
  display: flex;
  flex-direction: column;
  width: 40px;
  margin-top: 5px;
  margin-left: -12px;
}

.paypal {
  margin-top: 10px;
  width: 50%;
}

.pay-logo a {
  padding: 1vw 0vw;
}
.pay-left,
.pay-right,
.pay-middle {
  display: flex;
  flex-direction: column;
}

.price1 {
  margin-left: 20px;
}

.price2 {
  margin-left: 23px;
}

.price3 {
  padding-left: 12px;
}

.terms {
  margin-left: 2vw;
  margin-top: 0;
}

.linesum {
  width: 20vw;
}

.info-container input {
  border: none;
  background-color: var(--color-5);
  margin: 0vw 5vw;
  margin-top: 1vw;
}

.info-container {
  margin-left: 5vw;
}

.billingline {
  width: 90%;
  margin-left: 5vw;
  opacity: 0.3;
}

@media screen and (max-width: 700px) {
  main {
    padding-top: 20vw;
  }

  #row1,
  #row2 {
    flex-direction: column;
    margin-top: 50vw;
  }

  #cart h1 {
    position: absolute;
    text-align: center;
    margin-top: -30vw;
    align-self: center;
  }

  #cart,
  #billing {
    align-items: unset;
    margin-top: 50vw;
  }

  #row1 {
    margin-left: 3vw;
    margin-top: 10vw;
  }

  #row1 p {
    padding: 2vw 7vw;
  }

  .producttitle {
    margin-right: 0vw;
  }

  #row2 {
    text-transform: capitalize;
    font-size: 1.2rem;
    align-items: unset;
    width: 50vw;
    margin-bottom: 1vw;
    margin-left: 50vw;
    margin-top: -90vw;
  }

  #row2 img {
    width: 30vw;
    margin-left: -7vw;
  }

  .bagname {
    padding-bottom: 5vw;
    margin-left: 0vw;
  }

  .quantity {
    margin-left: 0vw;
    padding-top: 5vw;
  }

  .price-total {
    margin-top: 13vw;
  }

  .line1 {
    display: none;
  }

  #cartsum {
    margin-left: 50vw;
    flex-direction: column;
    margin-top: 20vw;
  }

  #cartsum button {
    padding: 2.5vw 2vw;
    margin-top: 5vw;
    width: 200px;
  }

  .salecode input {
    width: 130%;
    margin-left: 25px;
  }

  #codeflex {
    margin-top: 4vw;
    width: 25vw;
  }

  /* lines */

  hr {
    width: 80vw;
  }

  #billing {
    margin-top: 10vw;
    margin-left: 13vw;
  }

  #payment {
    display: none;
  }

  .price1 {
    margin-left: 20px;
  }

  .price2 {
    margin-left: 20px;
  }

  .price3 {
    padding-left: 12px;
  }

  .terms {
    margin-left: 5vw;
    margin-top: 0px;
    width: 140%;
  }

  .linesum {
    width: 40vw;
  }

  .info-container input {
    border: none;
    background-color: var(--color-5);
    margin: 0vw 5vw;
    margin-top: 1vw;
  }

  .info-container {
    margin-left: 5vw;
  }
}
