@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap");

/* Collection columns */

section {
  position: absolute;
  margin-top: 20vw;
}

.row {
  position: absolute;
  width: 100vw;
  padding-right: 3%;
  justify-content: space-around;
  display: flex;
  background-color: var(--color-5);
}

section h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  opacity: 60%;
  margin-top: -10vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-size: 1.4rem;
  color: black;
  position: relative;
}

.column {
  float: left;
  width: 33.33%;
  margin-top: 2vw;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Collection buttons */

#snow button {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--color-1);
}

#play button {
  top: 80%;
  left: 30%;
  background-color: var(--color-4);
}

#recycle button {
  top: 80%;
  left: 45%;
  background-color: var(--color-2);
}

.collectionbutton:hover {
  font-size: 1.2vw;
  margin-left: -1px;
  margin-top: -1px;
}

.collectionbutton {
  position: absolute;
  display: flex;
  color: white;
  font-size: 1.1vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  letter-spacing: 0.2vw;
  opacity: 90%;
}

/* ???????? */

section {
  position: absolute;
  margin-top: 15vw;
}

.row {
  position: absolute;
  width: 100vw;
  padding-right: 3%;
  justify-content: space-around;
  display: flex;
  background-color: var(--color-5);
}

section h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  opacity: 60%;
  margin-top: -10vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-size: 1.4rem;
  color: black;
  position: relative;
}

.column {
  float: left;
  width: 33.33%;
  margin-top: 2vw;
  padding: 10px;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* footer */

footer {
  margin-top: 50vw;
}
