@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap");

h1 {
  font-weight: 500;
  margin-top: 4vw;
  margin-left: 13vw;
  margin-bottom: 4vw;
  opacity: 60%;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-size: 1.4rem;
}

.column {
  float: left;
  width: 33.33%;
  margin-top: 2vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
