@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap");

/* Collection columns */

section {
  position: absolute;
  margin-top: 20vw;
}

.row {
  position: absolute;
  width: 100vw;
  padding-right: 3%;
  justify-content: space-around;
  display: flex;
  background-color: var(--color-5);
}

section h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  opacity: 60%;
  margin-top: -10vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-size: 1.4rem;
  color: black;
  position: relative;
}

/* Collection buttons */

#snow button {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--color-1);
}

#play button {
  top: 80%;
  left: 30%;
  background-color: var(--color-4);
}

#recycle button {
  top: 80%;
  left: 45%;
  background-color: var(--color-2);
}

.collectionbutton:hover {
  font-size: 1.2vw;
  margin-left: -1px;
  margin-top: -1px;
}

.collectionbutton {
  position: absolute;
  display: flex;
  color: white;
  font-size: 1.1vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  letter-spacing: 0.2vw;
  opacity: 90%;
}

.column {
  float: left;
  width: 33.33%;
  margin-top: 2vw;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container1 {
  display: flex;
  flex-direction: column;
  font-family: var(--font-1);
  color: black;
  font-size: 1.1rem;
}

.container1 a {
  color: black;
  padding: 0.5vw 2vw;
  font-size: 1.1rem;
}

.container1 p {
  opacity: 25%;
  padding: 0vw 2vw;
}

.container2 p {
  padding-bottom: 10px;
  color: black;
  margin-top: -5px;
}

.container2 h4 {
  margin-top: 20px;
  letter-spacing: 0.1vw;
}

.container2 img {
  padding-bottom: 20px;
  width: 100%;
}

.container2 button {
  border-radius: 0vw;
  color: black;
  background-color: var(--color-4);
  opacity: 70%;
  font-size: 1.1rem;
  width: 40%;
  border: none;
  padding: 0.3vw 0vw;
  margin-bottom: 20px;
}

footer {
  display: block;
  margin-top: 195vw;
}
