@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap");
:root {
  --color-1: #7bafd4;
  --color-2: #eeee9f;
  --color-3: white;
  --color-4: #aed5b2;
  --color-5: #f9f9f9;
  --color-6: #efefef;
  --font-1: "Manrope", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.hidden {
  display: none;
}
img {
  max-width: 100%;
}

/* NAVIGATION */

/* Making the Navbar fixed when scrolling */
.nav_container {
  position: fixed;
  z-index: 2;
}

nav {
  display: flex;
  width: 100vw;
  padding: 1.8rem;
  margin-top: 0px;
  height: 2rem;
  margin-left: 0;
  background: white;
}

.dropbtn {
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  letter-spacing: 0.15rem;
}

header img {
  height: 1.7rem;
  margin-left: 0.5vw;
  margin-top: -0.5px;
}
#burgermenuBtn {
  display: none;
}
header a {
  margin-right: 3vw;
  color: black;
  text-decoration: none;
  font-family: var(--font-1);
  font-size: 1.2vw;
  width: 200px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  width: auto;
  box-shadow: 0px 16px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: 4rem;
}

/* Full width dropdown background */
.whitebg {
  background-color: white;
  height: 160px;
  position: fixed;
  z-index: -1;
}

.whitebg:before {
  content: "";
  background-color: white;
  position: absolute;
  height: 100%;
  width: 150vw;
  margin-left: -50vw;
  margin-top: -140px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 0vw;
  font-size: 1rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Search bar and the change on hover */
.search a {
  padding-left: 2rem;
}

.searchicon {
  height: 1rem;
  position: absolute;
  margin-bottom: 0rem;
  margin-top: 3px;
  margin-left: 0px;
  padding-right: 1rem;
}

.searchbar {
  display: none;
  height: 1px;
  margin-top: 17px;
  padding-left: 10px;
}

.search p {
  display: none;
  font-family: var(--font-1);
  position: absolute;
  margin-top: -2.2rem;
  margin-left: 2rem;
  font-size: 1.1rem;
}

.search {
  display: inline-block;
  position: relative;
}

.search:hover .searchbar {
  display: inline-block;
}

.search:hover p {
  display: block;
}

.search:hover a {
  display: none;
}

/* Cart Icon */

.cartbag {
  position: relative;
  margin-left: 96vw;
  height: 100%;
  margin-top: -37px;
}

.cartbag img {
  height: 1.5rem;
}

/*DROPDOWN FILTERING MENU*/

.dropdown-filter div {
  line-height: 2em;
  font-size: 1.1em;
}

.dropdown-filter {
  display: block;
}

aside {
  padding: 4vw 2vw;
  margin-top: 6.5vw;
  font-family: var(--font-1);
  color: #7bafd4;
}
#filtering {
  position: fixed;
}

#filtering h2 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

#filtering h3 {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

/* FOOTER */

footer {
  display: flex;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  height: auto;
  position: absolute;
  background: var(--color-6);
  font-family: var(--font-1);
}

.container1 {
  display: flex;
  flex-direction: column;
  font-family: var(--font-1);
  color: black;
  font-size: 1.1rem;
}

.container1 p {
  opacity: 25%;
  padding: 0vw 2vw;
}

.container1 a {
  color: black;
  padding: 0.5vw 2vw;
  font-size: 1.1rem;
  text-decoration: none;
}

.container1 a:hover {
  text-decoration: underline;
}
.container2 {
  width: 25vw;
  background-color: var(--color-5);
  display: inline-flex;
  flex-direction: column;
  padding: 0.2vw 2vw;
  margin-top: -2vw;
}

.container2 h4 {
  margin-top: 20px;
  letter-spacing: 0.1vw;
}

.container2 a {
  color: black;
  opacity: 20%;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.container2 p {
  padding-bottom: 10px;
  color: black;
  margin-top: -5px;
}

.container2 img {
  padding-bottom: 20px;
  width: 100%;
}

.container2 button {
  border-radius: 0vw;
  color: black;
  background-color: var(--color-4);
  opacity: 70%;
  font-size: 1.1rem;
  width: 40%;
  border: none;
  padding: 0.3vw 0vw;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  html,
  body {
    font-size: 12px;
  }
  footer {
    flex-direction: column;
  }

  .container1 {
    padding: 3vw;
    margin-left: 10vw;
  }

  .container2 {
    width: 80vw;
    background-color: var(--color-5);
    display: inline-flex;
    flex-direction: column;
    margin-left: 10vw;
    padding: 2vw 2vw;
    margin-top: 5vw;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  #logo {
    width: 200px;
    margin-left: 5vw;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    box-shadow: 0px 16px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 4rem;
  }

  /* Full width dropdown background */
  .whitebg {
    display: none;
  }

  .whitebg:before {
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    width: 150vw;
    margin-left: -50vw;
    margin-top: -140px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0vw;
    font-size: 1rem;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: none;
  }

  /* Search bar and the change on hover */
  .search a {
    display: none;
  }

  .searchicon {
    display: none;
  }

  .searchbar {
    display: none;
  }

  nav {
    display: inline;
    padding: 0;
    margin-top: 0px;
    height: 10px;

    background: white;
  }
  header img {
    height: auto;
    margin-left: 2vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header {
    background-color: white;
    width: 100vw;
  }
  /* Cart Icon */

  .cartbag {
    display: none;
  }

  .cartbag img {
    display: none;
  }

  .burgerContent {
    display: none;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vw;
  }
  .burgerContentOpen {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vw;
  }
  .dropdown a:hover {
    text-decoration: underline;
  }

  #burgermenuBtn {
    display: inline;
    height: 28px;
    margin-right: auto;
    margin-left: 3vw;
  }
}
