#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  gap: 2rem;
  margin-top: 8vw;
  padding: 2vw;
}

main {
  padding-right: 3%;
  display: grid;
  grid-template-columns: 1.35fr 3.5fr 1fr;
  background-color: var(--color-5);
}

#buttons {
  margin-top: 8vw;
}
#buttons div {
  height: 250px;
  width: 250px;
  margin-bottom: 2vw;
}
#buttons div:hover {
  cursor: pointer;
}
#div1 {
  background-color: var(--color-3);
}
#div2 {
  background-color: var(--color-2);
}
article {
  padding-right: 2vw;
  font-family: var(--font-1);
}

article h2,
p {
  font-weight: 200;
  text-align: center;
}

#filteringIcons {
  margin-top: 2em;
  margin-left: 22%;
  display: flex;
  gap: 5em;
  font-family: var(--font-1);
  color: white;
}

#silfen {
  padding: 0.3em 2em;
  background-color: #9cc3df;
}
#silfenplay {
  padding: 0.3em 2em;
  background-color: var(--color-4);
}

.filterdropdown {
  margin-top: 8vw;
}
aside h3 {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}
