@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap");

/* IMAGE GRID */
section {
  margin-top: 5.5rem;
  position: absolute;
  display: grid;
  grid-template-columns: 32.76% 24.67% 42.57%;
  grid-template-areas:
    "img img2 img4"
    "img img2 img4"
    "img img3 img4"
    "img img3 img4";
  z-index: 0;
  gap: 0;
  width: 100vw;
  height: auto;
}

#img1 {
  grid-area: img;
  margin-right: -1px;
  margin-top: -1px;
}

#img2 {
  grid-area: img2;
}

#img3 {
  grid-area: img3;
  margin-top: -5px;
  width: 102.5%;
}

#img4 {
  grid-area: img4;
  margin-top: -0.5px;
}

#test:hover {
  opacity: 0%;
}

#img4 {
  grid-area: img4;
}

#img3:hover {
  background-color: var(--color-2);
  opacity: 100%;
  cursor: pointer;
  margin-top: -4px;
  height: 98%;
}

#img3 p {
  display: none;
  width: 50px;
  font-size: 3vw;
  color: white;
  position: absolute;
  margin-top: 95px;
  margin-left: -195px;
  font-family: Manrope, sans-serif;
}

#img3:hover p {
  display: inline-block;
}

#img1 button {
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--color-1);
}

#img4 button {
  top: 15%;
  left: 50%;
  background-color: var(--color-4);
}

.shopbutton:hover {
  font-size: 1.2vw;
  margin-left: -1px;
  margin-top: -1px;
}

.shopbutton {
  position: absolute;
  color: white;
  font-size: 1.1vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  letter-spacing: 0.2vw;
  opacity: 90%;
}

.container {
  position: relative;
}
